 <!-- About Section -->
    <section class="tertiary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light" id="about">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>
                        I am a student at NTNU in Norway, where I'm currently taking a bachelors degree in programming, with a focus on game development.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                        I've been working on a free-time basis within game development for several years, since the age of 12. And I'm taking aim at working in this field after finishing my degree.
                    </p>
                </div>
            </div>
        </div>
    </section>
