<div class="container">
    {% for post in site.posts %}
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <h1>{{ post.title }}</h1>
            {% if post.preview %}
            <img src="{{ post.preview.img }}" alt="{{ post.preview.alt }}" class="img-responsive" />
            {% endif %}
            <p>{{ post.description }}</p>
            <br/>
            <a class="text-left" href="{{ post.url | absolute_url }}"><h3><i class="fa fa-arrow-right"></i>&nbsp;&nbsp;&nbsp;&nbsp;Continue reading&nbsp;&nbsp;<i class="fa fa-book"></i></h3></a>
        </div>
    </div>
    <br/>
    <hr/>
    {% endfor %}

</div>
<div>
{% if page.preview %}
    {%
        assign bg = page.preview.img-background |
        replace: '!COLOR_PRIMARY!', site.color.primary |
        replace: '!COLOR_SECONDARY!', site.color.secondary |
        replace: '!COLOR_SECONDARY_DARK!', site.color.secondary |
        replace: '!COLOR_TERTIARY!', site.color.tertiary |
        replace: '!COLOR_WIP!', site.color.WIP
    %}

    {% if bg contains '#' %}
    <div style="background-color: {{ bg }} ">
    {% else %}
    <div style="background-image: {{ bg | prepend: 'url(' | append: ')' }}">
    {% endif %}
        <div class="container">
            <div class="row">
                <img src="{{ page.preview.img }}" alt="{{ page.preview.alt }}" class="img-responsive .col-md-6 .col-md-offset-3" />
            </div>
        </div>
    </div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            {{ page.content }}
        </div>
    </div>
</div>
