 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.min.js" }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" }}"></script>
    <script src="{{ "/js/classie.js" }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ "/js/jqBootstrapValidation.js" }}"></script>
    {% if site.contact == "static" %}
    <script src="{{ "/js/contact_me_static.js" }}"></script>
    {% else %}
     <script src="{{ "/js/contact_me.js" }}"></script>
    {% endif %}

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/freelancer.js" }}"></script>

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
MathJax.Hub.Config({
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
    inlineMath: [ ['$', '$'] ],
    displayMath: [ ['$$', '$$']],
    processEscapes: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code']
  },
  messageStyle: "none",
  "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
});
</script>
    <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

    <!-- Personal scripts-->
    <script src="{{ "/js/slides.js" }}"></script> <!-- Image carousel -->
    <script src="{{" /js/quote_script.js "}}"></script> <!-- Random text injector -->
    <script src="{{" /js/fa-rotate-toggler.js "}}"></script>
    {% if site.contact == "disqus" %}
    <!-- Disqus Stuff -->
    {% include js_disqus.html %}
    {% endif %}
