 <!-- Portfolio Modals -->
 {% for post in site.portfolio %}
    <div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true" data-id="{{ post.modal-id }}">
        <div class="modal-content col-lg-8 col-lg-offset-2">
            <div class="close-modal"  data-dismiss="modal">
                <i  class="fa fa-close"
                    style=" top: -34px;
                            left: 1px;
                            position: relative;">
                </i>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                                <div class="slideshow-container">
                                {% if post.images %}
                                <div>
                                    {% for image in post.images %}
                                    <div class="mySlides" id="project-{{ post.modal-id }}">
                                        <div class="numbertext">{{ forloop.index }} / {{ post.images | size }}</div>
                                        <img src="img/portfolio/{{ image.path }}" class="mySlidesImg" alt="{{ image.alt }}">
                                        {% if image.description %}
                                        <div class="text">{{ image.description }}</div>
                                        {% endif %}
                                    </div>
                                    {% endfor %}
                                        <div class="prev" onclick="previous()">
                                            <i class="fa fa-chevron-left"></i>
                                        </div>
                                        <div class="next" onclick="next()">
                                            <i class="fa fa-chevron-right"></i>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div style="text-align:center">
                                {% for image in post.images %}
                                    <span class="dot" id="project-{{ post.modal-id }}" onclick="setDiv({{ forloop.index0 }})"></span>
                                {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            {% if post.content %}
                                <p>{{ post.content }}</p>
                            {% endif %}
                            <ul class="list-inline item-details">
                                {% if post.client %}
                                    <li>Client:
                                        <strong><a href="http://startbootstrap.com">{{ post.client }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.project-date %}
                                    <li>Date:
                                        <strong><a href="http://startbootstrap.com">{{ post.project-date }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                                {% if post.category %}
                                    <li>Service:
                                        <strong><a href="http://startbootstrap.com">{{ post.category }}</a>
                                        </strong>
                                    </li>
                                {% endif %}
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
