* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}
.mySlides::after {
    box-shadow: 0px 0px 1.5em .5em #000 inset;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.mySlidesImg {
    width: 100%;
    height: 100%;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 4px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.text-light,
.text-dark:hover {
    color: #fff;
}

.text-dark,
.text-light:hover {
    color: #{{ site.color.secondary-dark }};
}

#primary:after {
    background-color: #{{ site.color.primary }};
}

#secondary:after {
    background-color: #{{ site.color.secondary }};
}

#tertiary:after {
    background-color: #{{ site.color.tertiary }};
}

a.portfolio-link img.img-responsive {
    position: absolute;
    top: 0;
}

a.portfolio-link div.col-lg-12.text-center {
    position: absolute;
    bottom: 0;
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

.article-note {
    font-weight: 100;
    text-align: center;
    font-style: italic;
    font-size: 16px;
}
.article-note>a {
   font-weight: bold;
   color: #{{ site.color.primary }};
}

.portfolio-link {
    background-color: #ccc;
    border: double 3px #999;
}


header .code {
    font-family:monospace;
    font-weight: 700;
    font-size: 4.25em;
}

.monospace {
    font-family:monospace;
}

.panel-heading a {
    color: #FFF;
}
.rotate-toggle {
    float: right;
}

.panel-heading a:hover { color: #{{ site.color.secondary }}; }
.panel-heading a.on   { color: #{{ site.color.secondary-dark }}; }
.panel-heading a.on:hover  { color: #FFF; }

/* Fading animation */
/*
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
*/
